/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #1c1c1c;
	--global-font-family: "Open Sans", sans-serif;
	--global-font-size: 14;
	--global-font-line-height: 1.8;
	--highlight-font-family: "Montserrat", "Helvetica Neue", "Arial Narrow", sans-serif;
	--content-width: 50rem;
	--content-width-large: 75rem;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor colors */
	--color-theme-primary: var(--color-theme-darkblue);
	--color-theme-secondary: var(--color-theme-blue);
	--color-theme-red: #c0392b;
	--color-theme-green: #27ae60;
	--color-theme-blue: #4fb8e9;
	--color-theme-darkblue: #004680;
	--color-theme-purple: #6947d9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #fff;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;


	--color-link: #0073aa;
	--color-link-visited: #333;
	--color-link-active: #00a0d2;

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	--color-shadow: #1c283355;
	--special-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);

	--background-theme-gradient: linear-gradient(28deg, rgb(26, 161, 233) 0%, rgba(105,71,217,.8) 100%);

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
}
