@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-link);
}
/* stylelint-enable */

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* buttons */

.button {
	background: var(--color-theme-primary);
	background-image: linear-gradient(180deg, var(--color-theme-altblue) 0% var(--color-theme-darkblue) 100%);
	border-radius: 3px;
	display: inline-block;
	font: 900 16px 'Montserrat', sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: var(--special-text-shadow);
	transition: filter .2s ease;
	padding: 1em 2em;
}

.button,
.button:hover,
.button:active,
.button:focus,
.button:visited {
	color: var(--color-theme-white);
}

.button:hover,
.button:active {
	filter: brightness(1.2);
}

.button:active {
	filter: brightness(0.9);
	position: relative;
	top: 2px;
}