/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	margin: 0 auto 0; /* 70px to compensate for fixed header */
	max-width: 100%;
}


@media (--narrow-window) {
	.mobile-hide{
		display: initial;
	}
	.desktop-hide{
		display: none;
	}
}

@media (--narrow-window) {
	.mobile-hide{
		display: none;
	}
	.desktop-hide{
		display: initial;
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}
/* stylelint-enable */

/* stylelint-disable */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;
}
/* stylelint-enable */

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	display: flex;
	position: sticky;
	
	width: 100%;
	top: 0px;
	background: var(--color-theme-white);
	box-shadow: 0 0 6px var(--color-shadow);
	z-index: 10;
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto;
}

.site-branding {
	text-align: center;
	padding: 8px 1em 0;
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	color: #333332;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

.phone {
	color: var(--color-theme-darkblue);
	font-weight: 700;
	text-decoration: none;
	padding: 1rem;
	font-size: 1rem;
	white-space: nowrap;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	margin: 1.2em auto;
	padding: 0.6em 1.2em 0.5em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 80%;
	text-transform: uppercase;
	border: 2px solid #000;
	border-radius: 0;
	background: transparent;
}

.nav--toggle-small .menu {
	display: none;
	
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: none;
}

@media (--narrow-menu-query) {

	.nav--toggle-small.nav--toggled-on .menu {
		display: block;
		background-color: var(--color-theme-darkblue);
		position: fixed;
		width: 100vw;
		left: 0;
		right: 0;
		top: 66px;
		height: 100vh;
	}

	.nav--toggle-small {
		

	}

	.nav--toggle-small .menu a {
		color: var(--color-theme-white);
		text-align: center;
		font-size: 30px;
	}
	
}

@media (--wide-menu-query) {

	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		background: #fff;
		margin-left: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-50%);
		overflow: visible;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid #000;
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.2em;
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		padding-right: var(--dropdown-symbol-width);
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	margin: 0 auto 0;
	padding: 0 1em;
	max-width: var(--content-width);
	font-family: var(--global-font-family);
}

.main-navigation a {
	display: block;
	width: 100%;
	padding: 0.5em 1em 0.5em 0;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-theme-blue);
	font-weight: 700;
	font-size: 16px;
	transition: filter .2s;
}

.main-navigation a:focus {
	text-decoration: underline;
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media (--wide-menu-query) {

	.main-navigation {
		margin: 0 0 0 auto;
	}

	.main-navigation ul li a {
		padding: 1.2em 0.5em .9em;
		border-bottom: .25em solid white;
		transition: filter .2s;
	}

	.main-navigation ul li a:hover {
		filter: brightness(0.8);
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid #111;
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: #00a0d2;
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--global-font-color);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: var(--color-theme-darkblue);
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	margin: 0;
	padding: 2em 0;
}

.home .site-footer{
	padding: 150px 0 2em 0 ;
	margin-top: -120px;
}
 
.site-info {
	text-align: center;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {

}

.blog .page-header {
	background: var(--color-theme-darkblue);
	margin: 0;
	padding: 1rem;
}

.blog .page-title{
	text-align: center;
	margin: 0;
	color: var(--color-theme-white);
}

.blog .post .entry-title {
	margin: 0;
}

.blog .post .entry-title a{
	text-decoration: none;
	color: var(--color-theme-white);
}

.blog .entry-meta,
.blog .entry-meta a {
	color: var(--color-theme-white);
}

.post .post-thumbnail {
	margin-top: 1.5em;
}
/*--------------------------------------------------------------
# Custom Elements
--------------------------------------------------------------*/


/* 
	Call to Action 
	--------------------------------------------------------------
*/
.call-to-action {
    padding-top: 3rem;

}

.call-to-action .wrap {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 0;
}

.call-to-action .pitch {
	text-align: center;
}

.call-to-action .pitch p{
	text-align: left;
}

.call-to-action .title{
	font-size: 40px;	
	font-weight: 900;
	letter-spacing: -1px;
	line-height: 48px;
	margin: 10px;
}

.call-to-action .subtitle{
	font-family: var(--global-font-family);
	font-size: 18px;
	text-transform: uppercase;
}

.call-to-action.fancy-background:after{
	background-size: cover;
	background-repeat: no-repeat;
}

.call-to-action figure{
	display: none;
}

.call-to-action .button{
	margin: 20px auto;
	grid-column: 1/3;
}

@media (--wide-window) {

	.call-to-action .wrap {
		grid-template-columns: 1fr 1fr;
	}

	.call-to-action figure{
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

/* 
	Services 
	--------------------------------------------------------------
*/
.services h1 {
	text-align: center;
}

@media (--wide-window) {
	.services h1 {
		/* text-align: left; */
	}
}

.services .container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 1em 1.5em;
	overflow: auto;
}

@media (--wide-window) {
	.services h2{
		text-align: center;
	}

	.services .container{
		display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
	}
}

.service { 
	background-color: var(--color-theme-darkblue);
	border-radius: 23px;
	padding: 1em;
	margin: 1em;
	width: 80vw;
	max-width: 20em;
	height: 80vw;
	max-height: 20em;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* background-image: attr(data-image-src); */
}

.service > * {
	z-index: 1;
}

.service .background {
  content: "";
  position: absolute;
	top: 0; 
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%; 
	height: 100%;
	background-image: url(../images/VeloxBranding-24.jpg);
	background-size: cover;
	background-position: center center;
	filter: grayscale(100%);
	opacity: 0.2;
	border-radius: 23px;
	transition: all 0.5s ease-out;
	z-index: 0;
}

.service:hover .background {
	width: 120%; 
	height: 120%;
	left: -10%;
	top: -10%;
}

.service .icon,
.service .service-link {
	margin: auto;
}

.service .icon-service {
	max-width: 4em;
	margin: 1em auto;
}

.service .title {
	color: var(--color-theme-white);
	margin: 1em auto;
}

.service .icon-arrow {
	background-image: url("../images/Velox-Website-Icon-Arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid white;
	border-radius: 50%;
	padding: 1.6em;
	margin: auto;
	position: relative;
	transition: padding .1s ease-out;
}

.service:hover .icon-arrow {
	color: var(--color-theme-blue);
	border-color: var(--color-theme-blue);
	background-color: var(--color-theme-blue);
	padding: 1.8em;
}

.service .service-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

/* 
	Video Element 
	--------------------------------------------------------------
*/
.video-element h1 {
	text-align: center;
}

@media (--wide-window) {
	.video-element h1 {
		/* text-align: left; */
	}
}

.video-element {
	padding-bottom: 1.5em;
	text-align: center;
}

.video-container {
	position: relative;
	padding-bottom: 52.25%;
	padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom: 1.5rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-element .button {
	margin-top: 2rem;
	display: block;
}

@media (--wide-window) {
	.video-element .button{
		display: inline-block;
	}	
}

/* 
	Testimonials Element 
	--------------------------------------------------------------
*/
.testimonials h1 {
	text-align: center;
}

@media (--wide-window) {
	.testimonials h1 {
		/* text-align: left; */
	}
}

/* 
	Featured Post Element 
	--------------------------------------------------------------
*/
.featured-post {
	padding: 1.5em 0;
	text-align: center;
}

.featured-post article {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.featured-post .entry-title a{
	color: var(--color-theme-white);
	text-decoration: none;
	font-size: 32px;
}

.featured-post .entry-summary {
	display: none;
}

.featured-post .post-thumbnail img{
	border-radius: 14px;

}


@media (--wide-window) {
	.featured-post {
		text-align: left;
	}

	.featured-post article {
		grid-column-gap: 1em;
		grid-template-columns: 1fr 1fr;	
		grid-template-rows: 1fr 2fr auto;
	}

	.featured-post .entry-title {
		margin: 0;
	}

	.featured-post .post-thumbnail {
		grid-row: span 4;
	}

	.featured-post .entry-summary {
		display: block;
		margin-top: 0;
	}
}

/* 
	Chat Bubble
	--------------------------------------------------------------
*/

.chat-cta{
	margin: 1.5em 1em 4em;
	display: flex;
	justify-content: center;
}

.chat-cta .bubble {
	border-radius: 10px;
	padding: 0 1em;
	background-color: var(--color-theme-blue);
	color: var(--color-theme-white);
	text-shadow: var(--special-text-shadow);
	max-width: 70%;
	font-size: 16px;
	margin-right: 5%;
	position: relative;
}

.chat-cta .bubble::after {
	content: "";
	width: 0;
	height: 0;
	border-top: .7em solid transparent;
	border-bottom: .7em solid transparent;
	border-left: 2em solid var(--color-theme-blue);
	display: block;
	position: absolute;
	right: -2em;
	bottom: 35%;
}

.chat-cta .button,
.chat-cta button {
	display: none;
}

.chat-cta .face {
	background-image: url(../images/Velox-Website-Mobile-FAB@2x.png);
	background-repeat: no-repeat;
	width: 6em;
}

@media (--wide-window) {
	.chat-cta{
		position: fixed;
		bottom: 1rem;
		right: 2rem;
		z-index: 1;
		margin: 0;
	} 

	.chat-cta {
		background-color: var(--color-theme-white);
		border-radius: 10px;
		box-shadow: var(--special-box-shadow);
	}

	.chat-cta .bubble {
		background: none;
		color: var(--color-theme-darkblue);
		text-shadow: none;
		margin-bottom: 1em;
		text-align: center;
		max-width: 20em;
		margin: 0;
		font-size: 15px;
		padding-right: 0;
	}

	.chat-cta .face {
		width: 6em;
		background-position: center;
	}

	.chat-cta .bubble::after {
		border: none;
	}

	.chat-cta .button {
		display: inline-block;
		margin-bottom: 1em;
		background-color: var(--color-theme-blue);
		font-size: 12px;
	}

	.chat-cta button {
		display: block;
		position: absolute;
		right: -1em;
		font-weight: 700;
		border-radius: 50%;
		padding: 0;
		height: 2em;
		width: 2em;
		top: -1em;
	}

	.chat-cta button:hover {
		filter: brightness(.8);
	}
}

/* 
	Team Element
	--------------------------------------------------------------
*/
.team-member {
	margin: 1.5em auto;
}

@media (--wide-window) {
	.team-member .post-thumbnail {
		float: left;
		margin-right: 1em;
	}
}

.team-list {
	display: flex;
	flex-wrap: wrap;
}

.team-list .team-card {
	width: 30%;
	min-width: 20em;
	margin: auto;
}

.team-list .team-card .team-name,
.team-member .team-name {
	color: var(--color-theme-darkblue);
	font-size: 32px;
	margin-bottom: 0;
}

.team-list .team-card .job-title,
.team-member .job-title {
	margin-top: 0;
}

.team-card .team-name,
.team-card .job-title{
	text-align: center;
}

.team-card img {
	border-radius: 50%;
}

/*--------------------------------------------------------------
# Extras
--------------------------------------------------------------*/

.fancy-background {
	position: relative;
	background-color: var(--color-theme-blue);
	background-image: var(--background-theme-gradient);
	z-index: 0;
}

.fancy-background h1,
.fancy-background h2,
.fancy-background h3,
.fancy-background h4,
.fancy-background h5,
.fancy-background h6,
.fancy-background p {
	color: var(--color-theme-white);
	text-shadow: var(--special-text-shadow);
	position: relative;
}

.fancy-background > * {
	position: relative;
	z-index: 1;
}

.fancy-background:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/Velox-Website-BG_Pattern@2x.png");
	background-attachment: fixed;
	opacity: 0.1;
}

.entry-header.fancy-background:after{
	background-size: 50%;
}

.blue-background {
	background-color: var(--color-theme-blue);
	background-image: linear-gradient(28deg, var(--color-theme-atlblue) 0%,var(--color-theme-blue) 100%);
}

.blue-background h1,
.blue-background h2,
.blue-background h3,
.blue-background h4,
.blue-background h5,
.blue-background h6,
.blue-background p {
	color: var(--color-theme-white);
	text-shadow: var(--special-text-shadow);
	position: relative;
}

/* 
	Sloped containers
*/

.sloped {
	clip-path: polygon(0 0,100% 0,100% calc(100% - 8vw),0 100%);
	padding-bottom: 10vw;
}

.sloped-top {
	clip-path: polygon(0px 8vw, 100% 0px, 100% 100%, 0px 100%);
	padding-top: 10vw;
}

